<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="theme-default.css">
    <!--
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono"
      rel="stylesheet">
      -->
    <link href="https://fonts.googleapis.com/css?family=Righteous"
      rel="stylesheet">
    <title>Web MPC</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body id="body">
    <!-- pass parameters from main.go to hidden input fields -->
    <div class="hide">
      <input id="ws" type="text" value="{{.ws}}">
    </div>

    <!-- SVG icons -->

    <svg aria-hidden="true" focusable="false" style="display:none">
      <symbol id="icon-circle" viewBox="0 0 20 20">
        <circle cx="10" cy="10" r="8"></circle>
      </symbol>
      <symbol id="icon-play" viewBox="0 0 20 20">
        <path d="M 3,3 V 17 L 17,10 Z"></path>
      </symbol>
      <symbol id="icon-pause" viewBox="0 0 20 20">
        <rect width="4" height="14" x="4" y="3"></rect>
        <rect width="4" height="14" x="12" y="3"></rect>
      </symbol>
      <symbol id="icon-next" viewBox="0 0 20 20">
        <path d="M 2,3 V 17 L 9,10 Z"></path>
        <path d="M 11,3 V 17 L 18,10 Z"></path>
      </symbol>
      <symbol id="icon-prev" viewBox="0 0 20 20">
        <path d="M 18,3 V 17 L 11,10 Z"></path>
        <path d="M 9,3 V 17 L 2,10 Z"></path>
      </symbol>
      <symbol id="icon-stop" viewBox="0 0 20 20">
        <rect width="8" height="8" x="6" y="6"></rect>
      </symbol>
      <symbol id="icon-search" viewBox="0 0 20 20">
        <path d="M 9,10.5 3,17"></path>
        <circle cx="13" cy="7" r="5.5"></circle>
      </symbol>
      <symbol id="icon-list" viewBox="0 0 20 20">
        <path d="M 1,3 H 4 V 3 3"></path>
        <path d="M 6,3 H 18 V 3"></path>
        <path d="M 1,9 H 4 V 9 9"></path>
        <path d="M 6,9 H 18 V 9"></path>
        <path d="M 1,15 H 4 V 15 15"></path>
        <path d="M 6,15 H 18 V 15"></path>
      </symbol>
      <symbol id="icon-folder" viewBox="0 0 20 20">
        <path d="m 2,2 h 5 l 3,2.5 h 8 V 18 H 2 Z"></path>
      </symbol>
      <symbol id="icon-power" viewBox="0 0 20 20">
        <g transform="translate(0,-2)">
          <path sodipodi:type="arc" sodipodi:cx="-15.432505"
            sodipodi:cy="2.7033515" sodipodi:rx="6" sodipodi:ry="6"
            sodipodi:start="1" sodipodi:end="0"
            d="M -12.190691,7.7521774 A 6,6 0 0 1 -19.522337,7.0934847 6,6 0 0 1
            -20.698,-0.17320173 6,6 0 0 1 -13.948081,-3.110123 6,6 0 0 1
            -9.4325047,2.7033515" sodipodi:open="true"
            transform="rotate(-119.5)"></path>
          <rect width=".75" height="5.5" x="9.5" y="5"></rect>
        </g>
      </symbol>
      <symbol id="icon-ban" viewBox="0 0 20 20">
        <circle cx="10" cy="10" r="8"></circle>
        <path d="M 6,10 H 14"></path>
      </symbol> <symbol id="icon-consume" viewBox="0 0 20 20">
        <path sodipodi:type="arc" sodipodi:cx="3.6706762"
          sodipodi:cy="13.635768" sodipodi:rx="6" sodipodi:ry="6"
          sodipodi:start="1" sodipodi:end="0" d="M 6.9124901,18.684594 A 6,6 0 0
          1 -0.41915633,18.025901 6,6 0 0 1 -1.5948191,10.759215 6,6 0 0 1
          5.1551,7.8222934 6,6 0 0 1 9.6706762,13.635768 l -6,0 z"
          transform="rotate(-30)"></path>
        <path d="m 10.5,6.5 h -1"></path>
      </symbol>
      <symbol id="icon-consume-disabled" viewBox="0 0 20 20">
        <path sodipodi:type="arc" sodipodi:cx="3.6706762"
          sodipodi:cy="13.635768" sodipodi:rx="6" sodipodi:ry="6"
          sodipodi:start="1" sodipodi:end="0" d="M 6.9124901,18.684594 A 6,6 0 0
          1 -0.41915633,18.025901 6,6 0 0 1 -1.5948191,10.759215 6,6 0 0 1
          5.1551,7.8222934 6,6 0 0 1 9.6706762,13.635768 l -6,0 z"
          transform="rotate(-30)"></path>
        <path d="m 10.5,6.5 h -1"></path>
        <path d="m 1.5,1.5 17,17"></path>
      </symbol>

      <symbol id="icon-repeat" viewBox="0 0 20 20">
        <circle cx="6" cy="10" r="4"></circle>
        <circle cx="13.5" cy="10" r="3.5"></circle>
      </symbol>

      <symbol id="icon-repeat-disabled" viewBox="0 0 20 20">
        <circle cx="6" cy="10" r="4"></circle>
        <circle cx="13.5" cy="10" r="3.5"></circle>
        <path d="m 1.5,1.5 17,17"></path>
      </symbol>

      <symbol id="icon-single" viewBox="0 0 20 20">
        <circle cx="7" cy="12" r="4"></circle>
        <path d="m 11,6 4,-3.5 v 12"></path>
      </symbol>
      <symbol id="icon-single-disabled" viewBox="0 0 20 20">
        <circle cx="7" cy="12" r="4"></circle>
        <path d="m 11,6 4,-3.5 v 12"></path>
        <path d="m 1.5,1.5 17,17"></path>
      </symbol>

      <symbol id="icon-random" viewBox="0 0 20 20">
        <path d="m 2,5 h 6 l 4,10 h 6"></path>
        <path d="M 2,15 H 8 L 12,5 h 6"></path>
      </symbol>
      <symbol id="icon-random-disabled" viewBox="0 0 20 20">
        <path d="m 2,5 h 6 l 4,10 h 6"></path>
        <path d="M 2,15 H 8 L 12,5 h 6"></path>
        <path d="m 1.5,1.5 17,17"></path>
      </symbol>

      <symbol id="icon-top" viewBox="0 0 20 20">
        <path d="M 5.5,7.5 10,2 14.5,7.5"></path>
        <path d="M 10,2 V 17"></path>
        <path d="m 2.5,1.5 h 15"></path>
      </symbol>
      <symbol id="icon-middle" viewBox="0 0 20 20">
        <path d="M 5.5,4.5 10,10 14.5,4.5"></path>
        <path d="M 5.5,15.5 10,10 l 4.5,5.5"></path>
        <path d="M 10,19 V 1"></path>
      </symbol>
      <symbol id="icon-bottom" viewBox="0 0 20 20">
        <path d="M 5.5,11.5 10,17 14.5,11.5"></path>
        <path d="M 10,17.5 V 2.5"></path>
        <path d="m 2.5,17.5 h 15"></path>
      </symbol>

      <symbol id="icon-clean" viewBox="0 0 20 20">
        <path d="m 4.6823529,13.011765 9.6235291,0.02353 -0.564706,-3.6705881
          1.952942,-1.9529412 V 4.3294118 L 13.623529,2.1411765
          8.7529412,1.3647059 5.1058824,2 2.3764706,4.4705882 v 2.9882353 z"></path>
        <path d="M 4.6823529,13.011765 4.4235294,16.4 8.0470588,16.494118
          7.7882353,13.082353"></path>
        <path d="M 11.529412,13.247059 11.741176,16.517647 15.082353,16.4
          14.305882,13.035295"></path>
        <path d="M 11.741176,16.517647 8.0470588,16.494118"></path>
        <path d="m 6.8941176,4.6588235 -1.7647058,1.4588236 1.2,2.8470588
          1.9529411,-0.8470588 0.6588236,-1.5294118 z"></path>
        <path d="m 11.294118,4.2117647 -1.176471,1.4352941
          0.329412,1.9294118 1.458823,0.917647 1.552942,-1.5764705
          -0.729412,-1.7411765 z"></path>
        <path d="m 8.4,10.447059 -1.0352941,0.588235 0.6823529,0.494118
          z"></path>
        <path d="M 10.470588,10.376471 10,11.035294 l
          1.152941,0.211765 z"></path>
      </symbol>
    </svg>

    <!-- load our javascript -->
    <script src="javascript.js"></script>

    <!-- main grid -->
    <div class="main">
      <!-- mainError messages -->
      <div id="mainError" class="mainError bordered hide"></div>
      <div class="mainControl">
        <div id="ctrlSong" class="bordered ctrlSong">
          <!-- currently active song -->
          <div id="title" class="activeSongTitle resize">Title</div>
          <div id="artist" class="activeSongArtist resize">Artist</div>
          <div id="album" class="activeSongAlbum resize">Album</div>
          <div class="activeSongProgress">
            <div id="progress"></div>
          </div>
          <div id="elapsed" class="ctrlElapsed small">0:21</div>
          <div id="duration" class="ctrlDuration small">2:12</div>
        </div>

        <!-- switch between "views" -->
        <div class="ctrlView boxResponsive">
          <div class="ctrlViewList">
            <!-- list is the default view -->
            <button id="list" disabled="disabled">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-list"></use>
              </svg>
            </button>
          </div>
          <div class="ctrlViewSearch">
            <button id="search">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-search"></use>
              </svg>
            </button>
          </div>
          <div class="ctrlViewBrowse">
            <button id="browser">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-folder"></use>
              </svg>
            </button>
          </div>
        </div>

        <!-- play, pause etc. -->
        <div class="ctrlPlayer boxResponsive">
          <div class="ctrlPlayerPlay">
            <button id="play" title="Play">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-play"></use>
              </svg>
            </button>

            <button id="resume" title="Resume">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-play"></use>
              </svg>
            </button>

            <button id="pause" title="Pause" class="hide">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-pause"></use>
              </svg>
            </button>
          </div>
          <div class="ctrlPlayerStop">
            <button id="stop" title="Stop">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-stop"></use>
              </svg>
            </button>
          </div>
          <div class="ctrlPlayerPrevious">
            <button id="previous" title="Previous">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-prev"></use>
              </svg>
            </button>
          </div>
          <div class="ctrlPlayerNext">
            <button id="next" title="Next">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-next"></use>
              </svg>
            </button>
          </div>
          <div class="ctrlPlayerRemove">
            <button id="remove" title="Next">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-ban"></use>
              </svg>
            </button>
          </div>
          <div class="ctrlPlayerClean">
            <button id="clean" title="Clean">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-clean"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="ctrlMode boxResponsive">
          <!-- FIXME: find a better way to toggle this -->
          <div class="ctrlModeRandom" title="Toggle random mode">
            <button id="randomDisable" class="hide">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-random"></use>
              </svg>
            </button>
            <button id="randomEnable">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-random-disabled"></use>
              </svg>
            </button>
          </div>

          <div class="ctrlModeRepeat" title="Toggle repeat mode">
            <button id="repeatDisable" class="hide">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-repeat"></use>
              </svg>
            </button>
            <button id="repeatEnable">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-repeat-disabled"></use>
              </svg>
            </div>

            <div class="ctrlModeSingle" title="Toggle single mode">
              <button id="singleDisable" class="hide">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-single"></use>
                </svg>
              </button>
              <button id="singleEnable">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-single-disabled"></use>
                </svg>
              </button>
            </div>

            <div class="ctrlModeConsume" title="Toggle consume mode">
              <button id="consumeDisable" class="hide">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-consume"></use>
                </svg>
              </button>
              <button id="consumeEnable">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-consume-disabled"></use>
                </svg>
              </button>
            </div>
          </div>
        </div><!-- end of mainControl-->

        <!-- playlist View -->
        <div id="viewPlaylist" class="mainContent">
          <div id="playlistPagination" class="playlistPagination">
            <button id="firstPage">First</button>
            <button id="previousPage">Previous</button>
            <button id="nextPage">Next</button>
            <button id="lastPage">Last</button>
          </div>
          <div id="playlist">
            <!-- playlistEntries go here -->
          </div>
        </div>

        <!-- playlist entry template will be placed into id="playlist" -->
        <div id="playlistEntry" class="songRow bordered hide">
          <div class="songControl boxResponsive">
            <div class="cell">
              <button id="plPlay">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-play"></use>
                </svg>
              </button>
            </div>
            <div class="cell">
              <button id="plRemove">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-ban"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="songPrio boxResponsive">
            <div class="cell">
              <button id="plPrio1" title="move to top queue" class="prio">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-top"></use>
                </svg>
              </button>
            </div>
            <div class="cell">
              <button id="plPrio2" title="move to middle queue" class="prio">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-middle"></use>
                </svg>
              </button>
            </div>
            <div class="cell">
              <button id="plPrio3" title="move to bottom queue" class="prio">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-bottom"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="songCell">
            <div id="songCellTitle" class="songCellTitle resize">Title</div>
            <div id="songCellArtist" class="songCellArtist resize">Artist</div>
            <div id="songCellAlbum" class="songCellAlbum resize">Album</div>
            <div id="songCellDuration" class="songCellDuration resize">2:31</div>
          </div>
        </div>

        <!-- search View -->
        <div id="viewSearch" class="mainContent hide">
          <div id="searchBox" class="boxRow bordered">
            <!-- search input field -->
            <input id="searchText" type="text" name="search">
            <button id="submitSearch">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-search"></use>
              </svg>
            </button>
          </div>

          <div id="searchResult" class="listing">
            <!-- search result -->
          </div>
        </div>

        <!-- search entry template -->
        <div id="searchEntry" class="songRow bordered hide">
          <div class="songControl boxResponsive">
            <div class="cell">
              <button id="srAdd">+</button>
            </div>
          </div>
          <div class="songCell">
            <div id="songCellTitle" class="songCellTitle resize">Title</div>
            <div id="songCellArtist" class="songCellArtist resize">Artist</div>
            <div id="songCellAlbum" class="songCellAlbum resize">Album</div>
            <div id="songCellDuration" class="songCellDuration resize">2:31</div>
          </div>
        </div>

        <div id="viewDirectory" class="mainContent hide">
          <div id="directoryList" class="listing">
            <!-- directory listing -->
          </div>
        </div>

        <div id="directoryListEntry" class="directoryRow bordered hide">
          <div class="directoryControl boxResponsive">
            <div class="cell">
              <button id="dlBrowse">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-folder"></use>
                </svg>
              </button>
            </div>
            <div class="cell">
              <button id="dlAdd">+</button>
            </div>
          </div>
          <div class="directoryCell">
            <div id="directoryName" class="directoryName resize">Name</div>
          </div>
        </div>

      </div><!-- end of main-->

    </body>

  </html>
