body {
  background: #efefef;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 4px;
  padding: 0px;
}

.main {
  display: grid;
  grid-template-columns: 4px auto 1fr auto 4px;
  grid-template-areas:
    ". switchView playerCurrentSong playerElapsedDuration ."
    ". playerControl playerCurrentSong playerElapsedDuration ."
    ". searchBox searchBox searchBox ."
    ". playlist playlist playlist ."
    ". searchResult searchResult searchResult .";
}

.switchView {
  grid-area: switchView;
  border: 2px solid black;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}

.playerCurrentSong {
  grid-area: playerCurrentSong;
  border: 2px solid black;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}

.playerControl {
  grid-area: playerControl;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "playerControlPrimary"
    "playerControlSecondary";
  border: 2px solid black;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}

@media (min-width: 768px) {

  /* desktop */
  .playerControl {
    grid-area: playerControl;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "playerControlPrimary playerControlSecondary";
  }

}

.playerControlPrimary {
  grid-area: playerControlPrimary;
}

.playerControlSecondary {
  grid-area: playerControlSecondary;
}

.playerElapsedDuration {
  grid-area: playerElapsedDuration;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "playerElapsed"
    "playerDuration";
  height: 2em;
}

.playerElapsed {
  grid-area: playerElapsed;
  text-align: right;
  border: 2px solid black;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}

.playerDuration {
  grid-area: playerDuration;
  text-align: right;
  border: 2px solid black;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}



.playlist {
  grid-area: playlist;
}

.searchBox {
  grid-area: searchBox;
  /* initially hidden*/
  display: none;
}

.searchResult {
  grid-area: searchResult;
  /* initially hidden*/
  display: none;
}

.playlistRow {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "playlistControl playlistSong";
}

.playlistControl {
  grid-area: playlistControl;
}

.playlistSong {
  grid-area: playlistSong;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "playlistTitle playlistDuration"
    "playlistArtist ."
    "playlistAlbum ."
    "playlistAlbumArtist .";
}

@media (min-width: 768px) {

  /* desktop */
  .playlistSong {
    grid-area: playlistSong;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 1fr auto;
    grid-template-areas:
      "playlistTitle playlistArtist playlistAlbum playlistAlbumArtist playlistDuration";
  }
}

.playlistTitle {
  grid-area: playlistTitle;
}

.playlistArtist {
  grid-area: playlistArtist;
}

.playlistAlbum {
  grid-area: playlistAlbum;
}

.playlistAlbumArtist {
  grid-area: playlistAlbumArtist;
}

.playlistDuration {
  grid-area: playlistDuration;
}

button {
  background: none;
  box-sizing: unset;
  border: 0;
  outline: none;
  -webkit-transition-duration: 0.6s;
  /* Safari */
  transition-duration: 0.6s;
  margin: 4px;
  font-size: 20px;
}

button:hover {
  background: #afafaf;
}

.player button {
  color: white;
}

.playlist button {
  color: black;
}

.player button:hover {
  background: gray;
}

.player button:focus {
  background: gray;
}

.player button:disabled {
  color: gray;
}

.playlist button:hover {
  background: lightgray;
}

.playlist button:focus {
  background: lightgray;
}

.playlist button:disabled {
  color: gray;
}

div.playlistRow:nth-child(even) {
  background: gray;
}

div.playlistRow:nth-child(odd) {
  background: lightgray;
}

@media (min-width: 768px) {
  .g2 {
    width: 50%;
  }

  .g3 {
    width: 33.33%;
  }
}