/* inspired from: http://bafs.github.io/mu/ */

body {
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 4px;
  padding: 0px;
}

button {
  background: none;
  box-sizing: unset;
  border: 0;
  outline: none;
  -webkit-transition-duration: 0.6s;
  /* Safari */
  transition-duration: 0.6s;
}

.player button {
  color: white;
}

.playlist button {
  color: black;
}

.player button:hover {
  background: gray;
}

.player button:focus {
  background: gray;
}

.player button:disabled {
  color: gray;
}

.playlist button:hover {
  background: lightgray;
}

.playlist button:focus {
  background: lightgray;
}

.playlist button:disabled {
  color: gray;
}

button.wide {
  margin-right: -4px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 11px;
}

button.narrow {
  margin-right: -4px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 7px;
}

button.round {
  border-radius: 8px;
}

.player, .playlist {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 2px;
  background: black;
  color: white;
}

.playlist {
  background: gray;
}

.row {
  display: block;
  width: auto;
  min-height: 1px;
  page-break-after: always;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
}

.col {
  padding-right: 1em;
}

.full {
  width: 100%;
}

.artist {
  font-style: italic;
}

div.elapsed {
  padding-left: 0px;
  padding-top: 2px;
}

div.currentSong, div.playlistSong {
  /* align with the buttons above FIXME: on mobile only? */
  padding-left: 12px;
  /* align with the button on the left side (on desktop) */
  padding-top: 2px;
}

@media (min-width: 768px) {
  .g2 {
    width: 50%;
  }
  .g3 {
    width: 33.33%;
  }
}