/* FIXME: lookup useful @media queries */

body {
  /* FIXME: better font selection */

  /*  font-family: "Roboto Mono", monospace;*/
  font-family: "Righteous", cursive;

  font-size: 24px;
  margin: 4px;
  padding: 0px;
  color: var(--foreground);
  background: var(--background);
}

@media (min-width: 768px) {
  body {
    /*background: #efefef;*/
    font-size: 28px;
  }
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 100%;
  border: 1px solid var(--foreground);
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1em;
}

/* common styles */
.big {
  font-size: 120%;
}

.bold {
  font-weight: bold;
}

.medium {
  font-size: 100%;
}

.small {
  font-size: 0.75em;
}

.icon {
  fill: none;
  width: 0.9em;
  height: 0.9em;
  overflow: hidden;
  display: block;
  stroke: var(--foreground);
  stroke-width: 8%;
  stroke-linejoin: round;
}

.bordered {
  /* add a round border & set the background */
  border: 2px solid var(--foreground);
  border-radius: 4px;
  margin: 1px;
  /*padding-bottom: 4px;*/

  background: var(--c5);
}

.boxResponsive {
  /* switching between column (mobile) and row (desktop) */
  display: flex;
  flex-direction: column;
  align-self: start;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.prio {
  border: 1px solid var(--foreground);
  margin-right: 4px;
}

button {
  padding: 1px;
  margin: 1px;
  box-sizing: unset;
  border: 2px solid var(--foreground);
  border-radius: 4px;
  width: 0.9em;
  height: 0.9em;
  text-align: center;
  font-size: 0.9em;
  background: var(--c5);
}

button:hover {
  background: var(--c5);
}

button:focus {
  background: var(--c5);
}

button:disabled {
  opacity: 0.5;
  color: var(--c4);
  background: var(--c2);
}

@media (min-width: 768px) {
  .boxResponsive {
    flex-direction: row;
  }
}

.boxColumn {
  /* always column */
  display: flex;
  flex-direction: column;
}

.boxRow {
  /* always row */
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.boxRow .fas {
  vertical-align: top;
}

.cell {
  display: flex;
}

/* main grid */
.main {
  display: grid;
  grid-template-columns: 4px 1fr 4px;
  grid-template-areas:
    ". mainError ."
    ". mainControl ."
    ". mainContent .";
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 4px 1fr 4px;
    /* FIXME: layout */
    grid-template-areas:
      ". mainError ."
      ". mainControl ."
      ". mainContent .";
  }
}

.mainError {
  grid-area: mainError;
  background: #ff1f1f;
}

.mainControl {
  grid-area: mainControl;
}

.mainContent {
  grid-area: mainContent;
}

/* end of main grid */

/* mainControl grid */
.mainControl {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-areas:
    "ctrlView ctrlSong ctrlSong ctrlSong ctrlSong"
    "ctrlView ctrlSong ctrlSong ctrlSong ctrlSong"
    "ctrlPlayer ctrlPlayer . ctrlMode ctrlMode";
}

.ctrlView {
  grid-area: ctrlView;
}

.ctrlSong {
  grid-area: ctrlSong;
}

.ctrlElapsed {
  grid-area: ctrlElapsed;
  width: 4em;
  font-size: 0.5em;
  align-self: end;
  text-align: center;
}

.ctrlDuration {
  grid-area: ctrlDuration;
  width: 4em;
  text-align: center;
  font-size: 0.5em;
  align-self: end;
}

.ctrlPlayer {
  grid-area: ctrlPlayer;
}

.ctrlMode {
  grid-area: ctrlMode;
}

/* end of mainControl grid */

/* ctrlView grid */
.ctrlView {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "ctrlViewList"
    "ctrlViewSearch"
    "ctrlViewBrowse"
    "ctrlViewPlaylists";
  height: 3em;
}

.ctrlViewList {
  grid-area: ctrlViewList;
}

.ctrlViewSearch {
  grid-area: ctrlViewSearch;
}

.ctrlViewBrowse {
  grid-area: ctrlViewBrowse;
}

.ctrlViewPlaylists {
  grid-area: ctrlViewPlaylists;
}

/* end of ctrlView grid */

/* ctrlPlayer grid */
.ctrlPlayer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-areas: "ctrlPlayerPlay ctrlPlayerStop ctrlPlayerPrevious ctrlPlayerNext ctrlPlayerRemove ctrlPlayerClean";
  /*
  grid-template-areas:
    "ctrlPlayerPlay ctrlPlayerStop"
    "ctrlPlayerPrevious ctrlPlayerNext";
    */
}

.ctrlPlayerPlay {
  grid-area: ctrlPlayerPlay;
}

.ctrlPlayerStop {
  grid-area: ctrlPlayerStop;
}

.ctrlPlayerPrevious {
  grid-area: ctrlPlayerPrevious;
}

.ctrlPlayerNext {
  grid-area: ctrlPlayerNext;
}

.ctrlPlayerRemove {
  grid-area: ctrlPlayerRemove;
}

.ctrlPlayerClean {
  grid-area: ctrlPlayerClean;
}

/* end of ctrlPlayer grid */

/* ctrlMode grid */
.ctrlMode {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: "ctrlModeConsume ctrlModeRepeat ctrlModeSingle ctrlModeRandom";
}

.ctrlModeConsume {
  grid-area: ctrlModeConsume;
}

.ctrlModeRepeat {
  grid-area: ctrlModeRepeat;
}

.ctrlModeSingle {
  grid-area: ctrlModeSingle;
}

.ctrlModeRandom {
  grid-area: ctrlModeRandom;
}

.toggleOn {
  text-decoration: underline;
}

/* end of ctrlMode grid */

/* ctrlSong gri */
.ctrlSong {
  padding: 4px;
  height: 4.5em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "activeSongTitle activeSongTitle activeSongTitle"
    "activeSongArtist activeSongArtist activeSongArtist"
    "activeSongAlbum activeSongAlbum activeSongAlbum"
    "ctrlElapsed activeSongProgress  ctrlDuration";
}

.activeSongTitle {
  grid-area: activeSongTitle;
  text-align: center;
  align-self: center;
}

.activeSongArtist {
  grid-area: activeSongArtist;
  text-align: center;
  align-self: center;
}

.activeSongAlbum {
  grid-area: activeSongAlbum;
  text-align: center;
  align-self: center;
}

.activeSongProgress {
  grid-area: activeSongProgress;
  border: 1px solid var(--foreground);
  align-self: center;
}
.activeSongProgress div {
  background: var(--background);
  height: 0.4em;
  border-right: 1px solid var(--foreground);
}

.songRow button {
  border: 1px;
  background: none;
}
.songRow .songPrio button:disabled {
  /* border: 1px solid var(--foreground);*/
  background: var(--background);
}

/* a list */
.listRow {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "listControl listCell";
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .listRow {
    grid-template-columns: auto 1fr;
    grid-template-areas: "listControl listCell";
    margin-bottom: 4px;
  }
}

.listRow button {
  border: 0px;
  background: none;
}
.listRow .songPrio button:disabled {
  border: 1px solid var(--foreground);
}

.listControl {
  grid-area: listControl;
}
.listCell {
  grid-area: listCell;
  align-self: center;
}
.pagination {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-areas: "firstPage previousPage currentPage nextPage lastPage";
}
.pagination button {
  width: unset;
  height: unset;
}
.firstPage {
  grid-area: firstPage;
  align-self: start;
}
.previousPage {
  grid-area: previousPage;
  align-self: start;
}
.currentPage {
  grid-area: currentPage;
  align-self: center;
  text-align: center;
}
.nextPage {
  grid-area: nextPage;
  align-self: end;
}
.lastPage {
  grid-area: lastPage;
  align-self: end;
}

.songRow {
  grid-area: songRow;
  display: grid;
  grid-template-columns: 1fr 1fr 20fr 2fr;
  padding-top: 2px;
  grid-template-areas:
    "songPlay songPrioUp songRowTitle songRowDuration"
    ". songPrioMiddle songRowArtist songRowArtist"
    "songRemove songPrioDown songRowAlbum songRowAlbum";
}

.songRowDisc {
  grid-area: songRowDisc;
  align-self: center;

  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.songRowTrack {
  grid-area: songRowTrack;
  align-self: center;
  text-align: right;
  padding-right: 0.5em;

  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

@media (min-width: 768px) {
  /* desktop */
  .songRow {
    grid-template-columns: 1fr 1fr auto auto auto 8fr 10fr 12fr 2fr;
    grid-template-areas: 
    "songPlay songRemove songPrioUp songPrioMiddle songPrioDown songRowTitle songRowArtist songRowAlbum songRowDuration";
  }
}

.songPlay {
  grid-area: songPlay;
  align-self: center;
}
.songRemove {
  grid-area: songRemove;
  align-self: center;
}
.songPrioUp {
  grid-area: songPrioUp;
  align-self: center;
}
.songPrioMiddle {
  grid-area: songPrioMiddle;
  align-self: center;
}
.songPrioDown {
  grid-area: songPrioDown;
  align-self: center;
}

.songRowTitle {
  grid-area: songRowTitle;
  align-self: center;
}

.songRowArtist {
  grid-area: songRowArtist;
  align-self: center;
}

.songRowAlbum {
  grid-area: songRowAlbum;
  align-self: center;
}

.songRowDuration {
  grid-area: songRowDuration;
  text-align: right;
  align-self: start;
  padding-right: 2px;
}

/* unverififed */

.listing {
  grid-area: listing;
}

.listingRow {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "listingControl listingEntry";
}

.listingControl {
  grid-area: listingControl;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "listingControlPrimary"
    "listingControlSecondary";
}

@media (min-width: 768px) {
  .listingControl {
    grid-template-columns: 1fr 1fr;
  }
}

.listingEntry {
  grid-area: listingEntry;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "playlistTitle playlistDuration"
    "playlistArtist playlistArtist"
    "playlistAlbum playlistAlbum"
    "listName listName";
  font-size: 80%;
}

@media (min-width: 768px) {
  /* desktop */
  .listingEntry {
    grid-template-columns: 3fr 2fr 3fr 1fr auto;
    grid-template-areas:
      "playlistTitle playlistArtist playlistAlbum playlistAlbum playlistDuration"
      "listName listName listName listName listName";
  }
}

.playlistTitle {
  grid-area: playlistTitle;
}

.playlistArtist {
  grid-area: playlistArtist;
}

.playlistAlbum {
  grid-area: playlistAlbum;
}

.playlistDuration {
  grid-area: playlistDuration;
}

div.listingRow:nth-child(even),
div.songRow:nth-child(even) {
  background: var(--c5);
}

div.listingRow:nth-child(even) button:disabled,
div.songRow:nth-child(even) button:disabled {
  color: var(--c4);
}

div.listingRow:nth-child(odd),
div.songRow:nth-child(odd) {
  background: var(--c4);
}

div.listingRow:nth-child(odd) button:disabled,
div.songRow:nth-child(odd) button:disabled {
  color: var(--c5);
}

/* eof */
